{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $theme := resources.Get "js/theme.js" }}
{{ $secureJS := slice $main $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- if .Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{- end}}

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}"></script>
    {{ end }}
{{ end }}

<script type="application/javascript">
const cool = () => {
    const name = "Flora Jiang";
    const letters = "qwertyuiopasdfghjklzxcvbnm";
    let iterations = 0;
    const el = document.querySelector("body > div > div > main > div > h1");
    if (!el?.textContent) return;
    const interval = setInterval(() => {
        el.textContent = el.textContent
            .split("")
            .map((letter, index) => {
                if (index < iterations) {
                    const value = name[index];
                    return value;
                }
                return letters[Math.floor(Math.random() * 26)];
            })
            .join("");

        iterations += 2 / 3;
        if (iterations >= name.length) clearInterval(interval);
    }, 30);
}

document.querySelector("body > div > div > main > div > h1").addEventListener('mouseover', cool)

</script>